/* .streak_container{
    display: grid;

    grid-template-columns: repeat(7,1fr);
   
}
.prog{
    position: relative;
    background-color: #172673;
    border-radius: 10px;
    width: 15px;
    height: 100%;
    margin: auto;
}
.prog_inner{
    border-radius: 10px;
    position: absolute;
    background: green;
    width: 100%;
    height: 40%;
} */