.userdashboard_section{
  display: flex;
}
.pie_chart{
  background-color: var(--primary_bg_color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  max-width: 100%;
  padding: 1rem;
  margin: 1.5rem auto;
}
.streak_container{
  background-color: var(--primary_bg_color);
  max-width: 100%;
  border-radius: 15px;
  padding: 1rem;
  margin: auto;
}
.grid-chart {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 1.4rem;
}
.grid-chart {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 1.4rem;
}
.chart-vert-value {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 28px;
}
.chart-vert-value span{
  margin-top: 0.5rem;
}
.grid-chart-bar {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.grid-chart-bar .bar-wrapper {
  flex: 1;
  width: 12px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  background-color:  #172673;
  position: relative;
  overflow: hidden;
}
.grid-chart-bar .grid-hortz-value {
  margin-top: 12px;
}
.grid-chart-bar .bar-item1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #656e99;
  border-radius: 10px;
}

.grid-chart-bar:nth-child(3) .bar-wrapper .bar-item1 {
  z-index: 1;
}
.grid-chart-bar:nth-child(3) .bar-wrapper .bar-item1 {
z-index: 1;
}
.training_in_progress_container img{
margin-right: 1rem;
}
.training_in_progress_card{
background-color: var(--primary_bg_color);
border-radius: 0.5rem;
padding: 1rem;
max-width: 100%;
margin: 1.5rem auto;
}
/* PROGRESS BAR STYLING */
.progress_bar_container{
height: 8px;
background-color: rgb(237, 232, 232);
margin-top: 0.5rem;
}
.progress_bar{
display: flex;
align-items: center;
justify-content: space-between;
height: 8px;
border-radius: 10px;
}
.progress_bar_fill{
height: 100%;
border-radius: 10px;
background-color: #172673;
transition: width 0.5s ease;
}
.progress_label{
color: white;
}
 @media(min-width: 764px){
.userdashboard_section{
  padding: 2rem;
}
.pie_chart{
  width: 300px;
  margin: 0;
}
.streak_container{
  width: 300px;
  margin: 0;
}
.training_in_progress_container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1rem;
} 
.training_in_progress_card{
  width: 300px;
  margin: 0;
}
} 